@model SMS.Models.Seminar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>



<div>
    <h4>Seminar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.topic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.platform)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.platform)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.link)
        </dt>
        <dd class = "col-sm-10">
            <a class="btn btn-success" href="@Model.link" target="_blank">Go To Meeting</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.linkId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.linkId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seminar_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seminar_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Starting_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Starting_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ending_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ending_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organizer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organizer.email)
        </dd>
    </dl>
</div>