@model IEnumerable<SMS.Models.Seminar>

@{
    ViewData["Title"] = "Index";
    Layout= "../Shared/_AdminPageLayout.cshtml";
}

<h1>Seminar Table</h1>

<p>
    <a asp-action="AdminCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.platform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.linkId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seminar_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starting_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ending_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organizer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.platform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.linkId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seminar_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Starting_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ending_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organizer.email)
            </td>
            <td>
                <a asp-action="AdminEdit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="AdminDetails" asp-route-id="@item.id">Details</a> |
                <a asp-action="AdminDelete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
